<div class='footer'>
		<span>About Us</span>
		<span>Contact Us</span>
		<span>Products</span>
		<span>Terms and Conditions</span>
		<span>Privacy Policy</span>
		<div>Powered By SkillTrix</div>
	</div>	