body
{
background-color:#34495e;
font-family:'Open Sans', sans-serif;	
color: white;
}
#pending
{
height: 45px;
	width: 100px;
background-color:red; 
font-weight: bolder;
	color:white ;
	border: 0px;
font-size: 25px;
margin-top: 10px;
}
#complete
{

	height: 45px;
	width: 100px;
	background-color:#27ae60; 
	
font-weight: bolder;
	color:white ;
	border: 0px;
font-size: 25px;
margin-top: 10px;
}