body{
	margin:0;
	padding: 0;
	font-family:'Open Sans';
	font-size: 18px;	
	
}
input[type="text"],input[type="email"],input[type="password"],button{
	font-size: 18px;	
}

button,input[type="submit"]
{
	margin-top: 20px;
	height: 50px;
	width: 275px;
	background-color: #2980b9;
	color:white;	
	border: 0;
	outline: 0;
	cursor: pointer;
}
button:hover,input[type="submit"]:hover{
	background-color: #3498db;
}
input[type="text"],input[type="email"],input[type="password"]{
	width: 275px;
	border: 0;
	outline: 0;
	height: 50px; 
	margin-bottom: 20px;
	padding-left: 25px;
}
.small-font{
	font-size: 14px;
}
/*************************/
/*	****INDEX PAGE*****
*
*		HEADER DESIGN
*************************/
header{
	height: 125px;
	border-top: 10px solid #3498db;		
}
header .logo{
	float:left;
	margin-left: 40px;
	padding: 35px 10px 10px 0px;
}
.menu-content{
	margin:0px 80px 0px 80px;
}
header span{
	margin:0px 0px 0px 0px;
	padding: 35px 10px 10px 10px;
	height:0px;	
	float:right;
	cursor: pointer;	
	font-size: 24px;
	-webkit-transform: translate3d(0, 0, 0);
	transition : height 0.7s;
	-webkit-transition:height 0.7s;
	-moz-transition:height 0.7s;		
}
header span:hover{		
	background-color: #3498db;/*#3498db*/
	color: white;
	height: 80px;
}
a{
	text-decoration: inherit;
}
a:link{
	color:inherit;
	text-decoration: inherit;
}
a:visited{
	color:inherit;
	text-decoration: inherit;
}
/***************

	Main Body
	center-msg
*****************/
.center-messg{
	height: 480px;	
	padding-top: 50px;
	color: white;
	background-image: url('../../resources/blur-2.png');
}
.center-messg .tagline{
	width:680px;
	margin: auto; 
	text-align: center;
}
.center-messg div{
	width: 900px;
	margin: auto;
	margin-top: 168px;
	text-align: center;
}

/***************	
	Products
****************/
.main-body{
	margin:0px 0px 0px 0px;
}
.products{
	background-color: #ecf0f1;
	display: inline-block;
	text-align: center;
	word-wrap:break-word;
	width: 100%;	
}
.points{
	display: none;
}
.products .product-tag{
	background-color: #3498db;
	color: white;
	font-size: 28px;	
	padding:10px 10px 10px 10px;
	width: 100%;
}
.products #M{
	margin-left: 188px;
}
.product-tile{
	width: 300px;	
	border:1px solid #bdc3c7;	
	padding: 0px;
	float: left;	
	margin: 50px 0px 80px 40px;
	text-align: center;
}
.product-tile-soon{
	width: 300px;
	padding-top: 190px;
	float: left;
	margin: 50px 0px 80px 40px;
	text-align: center;		
	border: 1px dashed #95a5a6;
	height: 220px;
}
.product-tile img{
	width: 300px;
	padding: 0px;
	height: 238px;
}
.product-tile div{
	padding: 5px;
	background-color: white;
}
.buy-btn span{
	font-size: 14px;
	text-align: center;
}
.product-tile .buy-btn{
	padding-top: 16px;
	text-align: center;
	background-color: #27ae60;
	color:white;
	cursor: pointer;	
	height: 45px;
	font-size: 20px;
}
.product-tile .buy-btn-limited{
	background-color: #e74c3c;/*#c0392b*/
	padding-top: 16px;
	text-align: center;
	color:white;
	cursor: pointer;	
	height: 45px;
	font-size: 20px;
}
.product-tile .buy-btn-arrival{
	background-color: #3498db;
	padding-top: 16px;
	text-align: center;
	color:white;
	cursor: pointer;	
	height: 45px;
	font-size: 20px;
}
/******About Us*****/
.about_us{
	margin: 0px 80px 0px 80px;
	height: 300px;	
	padding: 20px 0px 20px 0px;
}


/***********FOOTER**************/
.footer{
	background-color: #2c3e50;
	color: white;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}
.footer span{
	margin-left: 20px;
}

/**********************
*	 CMS.PHP DESIGNS  *
*                     *
***********************/
header h1{
	text-align: center;
	float: left;
	margin-left: 446px;
}
.cms-tiles{
	margin: 30px auto 100px auto;
	width: 500px;
	color: white;
	text-align: center;
}
.cms-tiles > div{
	width: 150px;
	height: 150px;
	background-color: #16a085;
	float: left;
	margin: 20px;
	cursor: pointer;
	padding: 20px;
}
.cms-tiles div:hover{
	background-color: #1abc9c;
}
/****************
*               *
* 	  Cart		*
*				*
*****************/
.menu-content img{	
	float: right;	
	padding-top: 4px;
}
.menu-content .text{
	width: 150px;
	
}
/****************
* Checkout page *
*****************/
.checkout-main-body{
	width: 283px;
	margin: 20px auto 0px auto;	
}
.checkout-table{
	width: 300px;
	margin: 100px auto 0px auto;		
}
.checkout-table table{
	border-collapse:collapse;	
}
.checkout-table	table th{
	padding-right: 50px;
}
.checkout-table td{
	padding-left: 10px;
}
.checkout-table img{
	width: 30px;
	height: 30px;
}
.delete > input[type="submit"]{
	width: auto;
	text-align: center;
	padding: 0px 8px 0px 8px;
	height: 33px;
}
.checkout-head header h1{
	margin-left: 500px;
}