body
{
background-color:#34495e;
font-family:'Exo 2', sans-serif;	
color: white;
}
#submit
{
height: 45px;
	width: 100px;
	background-color:#27ae60; 
	font-family:'Exo 2', sans-serif;
font-weight: bolder;
	color:White ;
	border: 0px;
font-size: 25px;
margin-top: 10px;
}
#delete
{
	height: 45px;
	width: 100px;
	background-color:Red; 
	font-family:'Exo 2', sans-serif;
font-weight: bolder;
	color:White ;
	border: 0px;
font-size: 25px;
margin-top: 10px;
}