body
{

background-color:#34495e;
font-family:'Exo 2', sans-serif;	
color: white;

}

#search 
{
	margin-top: 100;
	margin-left: 35%;
	width:500px;
	height:250px;
}

#button 
{
	height: 45px;
	width: 100px;
	background-color:#27ae60; 
	font-family:'Exo 2', sans-serif;
font-weight: bolder;
	color:White ;
	border: 0px;
font-size: 25px;
margin-top: 10px;
}
