body
{
background-color:#34495e;
font-family:'Exo 2', sans-serif;	
color: white;
}
.form
{
	margin-top: 15%;
	margin-left: 35%;
}
.form-element span{
	width: 300px;
	height: 50px;
	padding: 5px;
	margin: 15px;
}
.form-element span input{
	margin: 15px;
}
#submit 
{
		height: 45px;
		width: 100px;
		background-color:#27ae60; 
		font-family:'Exo 2', sans-serif;
		font-weight: bolder;
		color:White ;
		border: 0px;
		font-size: 25px;
		margin-top: 10px;
}
#status
{
	color:white;
	margin-left: 30%;
	
}
#h2
{
color:white;


}